@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;



.animate {
  animation: animate .45s ease-out;
}
.island-moments{
  font-family : 'Permanent marker', cursive;
  font-size: 40px;
  margin-top:30px;
}
.animate-2{
  animation: animate-2 .7s ease-out .1s; ;
}

.animate-3{
  animation: animate-3 .7s ease-out .1s; ;
}
.bg-top:hover{
  background: linear-gradient(111deg, #7c87ffa8 20%, #22137881);
  transition: background 0.5s ease-in-out;
}
.bg-top-order:hover{
  background: linear-gradient(111deg, #7c87ffa8 20%, #0d072d8e);
  transition: background 0.3s ease-in-out;
}
@keyframes animate {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
    
@keyframes animate-2 {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
}
